<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinny's Cupcakes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('partials/header') %>
        <main>
            <div style="margin-bottom: 50px;">
                <h2>About the Creator</h2>
                <img src="images/photo.jpg" alt="Jinal Chandibhamar" class="about-photo">
                <p>Hi, I am Jinal Chandibhamar, creater of Jinny's Cupcakes!</p>
                <p>I am from Waterloo, Canada.</p>
                <p>My shop is located at 121, University Avenue East, Waterloo.</p>
                <p>I am passionate about creating delightful user experiences and solving complex
                    problems. With a background in software engineering and a keen interest in market trends,
                    I plan to become a Product Manager Technical. I also have a love for cupcakes!</p>
                <p>You can email me on <a href="">jchandibhamar1760@conestogac.on.ca</a></p>
            </div>
        </main>
        <%- include('partials/footer') %>
</body>

</html>